.container {
  font-family: "Varela Round", sans-serif;
}
.today {
  display: block;
  font-size: 15px;
  padding-top: 20px;
}

button {
  margin-top: 20px;
}
.forecast {
  line-height: 10px;
  font-size: 20px;
  text-decoration: underline;
  color: #141e61;
}
.card-body {
  line-height: 15px;
}
.card {
  border-style: none;
}

.card-title {
  font-size: 28px;
  font-weight: bolder;
}

.card-text-temp {
  font-size: 25px;
  font-weight: bolder;
}
.emoji {
  font-size: 22px;
}
.card-text-other {
  color: #753422;
}
