.container {
  font-family: "Varela Round", sans-serif;
  display: block;
  width: 100%;
  padding: 30px;
  margin: 40px auto 10px;
  max-width: 850px;
  border: 1px solid #7F7C82;
  border-radius: 10px;
  background-color: #CDF0EA;
  
}
.today {
  display: block;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  
}

button {
  margin-top: 20px;
}


.card-body {
  line-height: 15px;
}
.card {
  border-style: none;
  border-radius: 10px;
  
  margin: 20px auto;
}

.card-title {
  font-size: 28px;
  font-weight: bolder;
  margin: 10px auto;
}

h5 {
  font-family: font-family: 'Source Sans Pro', sans-serif;
  
}

.card-text-day {
  font-size: 24px;
  font-weight: bolder;
  margin: 10px auto;
  font-family: 'Source Sans Pro', sans-serif;
}

.card-text-time {
  font-size: 24px;
  font-weight: bolder;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.card-text-temp {
  font-size: 50px;
  font-weight: bolder;
  margin: 20px auto;
  padding: 20px 0;

}



.unit {
  position: relative;
  top: -25px;
}

.card-text-weather {
  font-size: 25px;
  font-weight: bolder;
  margin: 10px auto;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.emoji {
  font-size: 22px;
}
.card-text-other {
  color: #753422;
}
.forecast {
  line-height: 10px;
  font-size: 20px;
  color: #141e61;
  font-family: 'Quicksand', sans-serif;
}

.weather-forecast {
  font-family: 'Quicksand', sans-serif;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

small {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}